<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <style>
        [class*='col'] {
            padding: 1rem;
            background-color: deepskyblue;
            border: 2px solid #fff;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <a href="/">Back</a>
    </div>
</div>

<div class="container border my-5 w-50">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.firstName}">001</td>
                <td th:text="${customer.lastName}">Name</td>
                <td th:text="${customer.email}">Address</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>