<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <style>
        [class*='col'] {
            padding: 1rem;
            background-color: deepskyblue;
            border: 2px solid #fff;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


<div class="container border my-5 w-50">
    <div class="row">
        <div class="col"></div>
        <a href="/save">Add customer</a>
    </div>
</div>

<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>