<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: bootstrap}">
    <title>Update form</title>
</head>

<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: nav_bar}"></div>
    <div class="row">
        <a th:href="@{/save}">Add customer</a>
        <a th:href="@{/customers}">Customers</a>
        <a th:href="@{/}">Back</a>
    </div>
</div>

<div class="container border my-5 w-80">
    <div class="row">
        <form method="post" th:action="@{/customers/{id} (id=${customer.id})}" th:object="${customer}">
            <div class="form-group">
                <label>First name</label>
                <input th:field="*{firstName}" type="text" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input th:field="*{lastName}" type="text" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input th:field="*{email}" type="text" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Date of creation</label>
                <input th:field="*{dateOfCreation}" type="text" placeholder="a" readonly class="form-control-plaintext">
            </div>
            <div class="form-group">
                <label class="form-label">Leader</label>
                <input list="leadersList" id="selectLeader" class="form-control" th:field="*{leader}">
                <datalist id="leadersList">
                    <option th:each="customer :${customers}"
                            th:value="|${customer.id}|"
                            th:text="|${customer.firstName} ${customer.lastName}|">
                    </option>
                </datalist>
            </div>
            <div class="form-group">
                <label>Practice site</label>
                <input th:field="*{practiceWebsite}" type="text" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Date of granted access</label>
                <input th:field="*{dateOfGrantedAccess}" type="date" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Access granted by</label>
                <input th:field="*{accessGrantedBy}" type="text" placeholder="a" class="form-control">
            </div>
            <div class="form-group">
                <label>Access granted?</label>
                <select th:field="*{accessGranted}" class="form-select">
                    <option th:value="1">true</option>
                    <option th:value="0">false</option>
                </select>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input th:field="*{price}" type="number" placeholder="a" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<script th:src="@{webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
<script th:src="@{webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>
</html>